<div class="section projects">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto text-center">
          <h2 class="title mb-5">Activities @ Gurdwara</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/brand/home-banner.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Saturday Night Keertan</h2>
              <h6 class="desc text-white opacity-8">Every Staturday from 6:30pm - 9:00pm</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/kids-keertan.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Wednesday Kids Diwan</h2>
              <h6 class="desc text-white opacity-8">Every Wednesday 6:30pm - 7:30pm</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/khalsa-club.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Khalsa Club</h2>
              <h6 class="desc text-white opacity-8">Friday 6:30pm - 7:30pm</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/nsm.jpeg')">
              <div class="card-body text-center">
                  <h2 class="card-title">National Sikh Museum</h2>
                <h6 class="desc text-white opacity-8">Open everyday from 10am - 3:00pm</h6>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/punjabi-school.jpeg')">
              <div class="card-body text-center">
                  <h2 class="card-title">Punjabi School</h2>
                <h6 class="desc text-white opacity-8">Every Sunday 12:30pm - 2:00pm</h6>
              </div>
            </div>
        </div>
        <div class="col-lg-4">
        <div class="card card-background" style="background-image: url('./assets/img/projects/gatka.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Gatka</h2>
            <h6 class="desc text-white opacity-8">Thursday 6:30pm - 7:30pm</h6>
            </div>
        </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/qa.jpeg')">
                <div class="card-body text-center">
                    <h2 class="card-title">Sikh Q&A</h2>
                <h6 class="desc text-white opacity-8">Every Sunday 2:30pm - 3:30pm</h6>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-background" style="background-image: url('./assets/img/projects/gurbani-class.jpeg')">
              <div class="card-body text-center">
                  <h2 class="card-title">Gurbani Class</h2>
                <h6 class="desc text-white opacity-8">Every Sunday 4:00pm-5:00pm</h6>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/midlands-langar-seva.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Midland Langar Seva</h2>
              <h6 class="desc text-white opacity-8">Every Sunday 4:30pm-5:30pm</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-background" style="background-image: url('./assets/img/projects/sikh-library.jpeg')">
            <div class="card-body text-center">
                <h2 class="card-title">Sikh Reference Library</h2>
                <h6 class="desc text-white opacity-8">Open everday 10am-3:00pm</h6>
            </div>
        </div>
    </div>
  </div>
</div>